.mt-50 {
    margin-bottom: 0;
    margin-top: 50px
}

.message-field {
    margin: 15px 0;
}

input[type=radio] {
    margin: 15px 15px 15px 0;
}

.radio-btn-label {
    padding: 5px 0;
}

.btn.btn-primary {
    float: right;
}

.error-message {
    color: #f00;
}