.mt-50 {
    margin-bottom: 0;
    margin-top: 50px
}

.message-field {
    margin: 15px 0;
}

.add-new {
    border-radius: 50px;
}

.radio-btn-label {
    padding: 5px 0;
}

.btn.btn-primary {
    float: right;
}

.form-group {
    .add-new-button {
        visibility: hidden;

        button {
            border-radius: 50%;
        }
    }

    &:last-child {
        .add-new-button {
            visibility: visible;
        }
    }
}