<div class="form-group row mt-50">
    <label for="searchTerm" class="col-sm-3 col-form-label">Formular Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="searchTerm">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Search</button>
    </div>
</div>

<form class="mt-50" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div formArrayName="formElements">
        <div class="form-group row" *ngFor="let formElement of formGroup.get('formElements').controls; let i = index;">
            <div [formGroupName]="i" class="row">
                <label for="formularName" class="col-sm-2 col-form-label">Element 1</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="type" (change)="changeValue($event, i, 'type')">
                                <option *ngFor="let option of types" [value]="option.value">{{option.text}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" formControlName="quantity" (change)="changeQuantity($event, i)">
                                <option *ngFor="let option of range | numberRange" [value]="option">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div formArrayName="radioButtonLabels">
                        <div class="col-sm-12 radio-btn-label"
                            *ngFor="let labelField of formElement.controls.radioButtonLabels.controls; let j = index;">
                            <div [formGroupName]="j" class="row">
                                <input type="text" class="form-control" formControlName="label">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" formControlName="validator" (change)="changeValue($event, i, 'validator')">
                        <option *ngFor="let option of validators" [value]="option.value">{{option.text}}</option>
                    </select>
                </div>
                <div class="col-sm-1 add-new-button">
                    <button type="button" class="btn btn-primary" (click)="addRow()">+</button>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>