<div class="form-group row mt-50">
    <label for="searchTerm" class="col-sm-3 col-form-label">Formular Name</label>
    <div class="col-sm-7">
        <input #searchField type="text" class="form-control">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="search(searchField.value)">Search</button>
    </div>
</div>

<div *ngIf="showMessage" class="message-field row">
    <div #alert class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>
</div>

<form class="mt-50" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div formArrayName="fields">
        <div class="form-group row" *ngFor="let formElement of formGroup.get('fields').controls; let i = index;">
            <div [formGroupName]="i" class="row">
                <label for="formularName" class="col-sm-2 col-form-label">Element {{i+1}}</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div [ngClass]="{
                            'col-sm-8': formElement.get('type')?.value == 'radiobutton',
                            'col-sm-12': formElement.get('type')?.value != 'radiobutton'}"
                        >
                            <select required class="form-control" formControlName="type" (change)="changeValue($event, i, 'type')">
                                <option *ngFor="let option of types" [value]="option.value">{{option.text}}</option>
                            </select>
                        </div>
                        <div *ngIf="formElement.get('type')?.value == 'radiobutton'" class="col-sm-4">
                            <select required class="form-control" formControlName="quantity" (change)="changeQuantity($event, i)">
                                <option *ngFor="let option of range | numberRange" [value]="option">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="formElement.get('type')?.value == 'radiobutton'" formArrayName="radioButtonFields">
                        <div class="col-sm-12 radio-btn-label"
                            *ngFor="let labelField of formElement.controls.radioButtonFields.controls; let j = index;">
                            <div [formGroupName]="j">
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <select required class="form-control" formControlName="validator" (change)="changeValue($event, i, 'validator')">
                        <!-- numeric validation makes only sense for textbox -->
                        <option *ngFor="let option of validators" [value]="option.value"
                        [hidden]="isSelectable(option.value, formElement)">{{option.text}}</option>
                    </select>
                </div>
                <div class="col-sm-1 add-new-button">
                    <button type="button" class="btn btn-primary" (click)="addRow()">+</button>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="showSubmit" type="submit" class="btn btn-primary">Submit</button>
</form>